<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAvhzPYY4SWAnXyw-Kl4tp3BfhN9FTZSc</string>
	<key>GCM_SENDER_ID</key>
	<string>204752617708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DripyWS.servicenet</string>
	<key>PROJECT_ID</key>
	<string>projectcac-79522</string>
	<key>STORAGE_BUCKET</key>
	<string>projectcac-79522.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204752617708:ios:c82bbd8c0babb72ca465c9</string>
</dict>
</plist>